
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$container-large-desktop: 990px;
$grid-gutter-width: 10px;

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}


/**************************************************************************
HEADER
**************************************************************************/

header{
  background-color: #F5F5F5;
  height: 48px;
  border-bottom: 1px solid #DDDDDD;
}

#navigation {
  display: inline-block;
  margin-top: 8px;
  margin-left: 145px;
  color: black;

  a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 13px;
  }


  .github-logo{
    display: inline-block;
    position: relative;
    top: 2px;
  }

  .github-search{
    display: inline-block;
    position: relative;
    bottom: 3px;
    margin-left: 8px;

    .form-control{
      width: 350px;
      height: 28px;
    }
  }

  .pull-req{
    display: inline-block;
    position: relative;
    bottom: 2px;
    margin-left: 18px;
  }

  .issues{
    display: inline-block;
    position: relative;
    bottom: 2px;
    margin-left: 18px;
  }

  .gist{
    display: inline-block;
    position: relative;
    bottom: 2px;
    margin-left: 18px;
  }

  .create-new{
    display: inline-block;
    position: relative;
    bottom: 2px;
    margin-left: 300px;
  }

  .view-profile{
    display: inline-block;
    position: relative;
    bottom: 2px;
  }
}


/**************************************************************************
MAIN SIDEBAR
**************************************************************************/



#account-cont{
  display: inline-block;
  padding-left: 0px;

  .contact-cont{
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 5px;
  }

  .user{
    border-bottom: 1px solid #EEEEEE;
    width: 231px;
  }

    .user-name {
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 3px;
    }

    .account-name {
      font-size: 20px;
      font-weight: 300;
      color: #666666;
      margin-top: 2px;
      margin-bottom: 14px;
    }

  .email {
    margin-top: 14px;

    #envo{
      margin-right: 8px;
    }
  }

  .joined-date{
    display: inline-block;
    margin-top: 8px;

    #date {
      margin-right: 5px;
    }
    .date-joined{
      display: inline-block;
    }
  }
}


.main-cont{
  margin-top: 20px;
}

.profile-pic{
  height: 230px;
  width: 230px;
  border: 1px solid grey;
  border-radius: 6px;
  display: inline-block;
}

.data-tracking {
  border-bottom: 1px solid #eeeeee;

  .followers{
    display: inline-block;
    margin-left: 12px;
    text-align: center;
  }

  .starred{
    display: inline-block;
    margin-left: 25px;
    text-align: center;
  }

  .following{
    display: inline-block;
    margin-left: 25px;
    text-align: center;
  }

  .social-number{
    margin-top: 18px;
    margin-bottom: 1px;
    color: #3D76C2;
  }

  .social-cat {
    margin-top: 3px;
    margin-bottom: 18px;
  }
}



/**************************************************************************
MAIN HEADER
**************************************************************************/



#contributions{
  display: inline-block;
  width: 100%;
  // padding-left: 18px;

  .nav-tabs {
    a {
      color: #555555;
    }
  }

  .octicon-diff-added {
    padding-right: 6px;
  }

  .octicon-repo {
    padding-right: 6px;
  }

  .octicon-rss {
    padding-right: 6px;
  }
}

.repo-top-bar {
  padding-top: 9px;
  padding-bottom: 12px;
  border-bottom: 1px solid #eeeeee;
}

.repo-search {
  display: inline-block;

  .form-control{
    width: 255px;
  }
}

.repo-search-button {
  display: inline-block;

  .btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;

  }
}

.reop-nav-links{
  display: inline-block;
  margin-left: 20px;

  .all {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    padding-right: 6px;
    a {
      text-decoration: none;
      color: black;
    }
  }

  .public {
    display: inline-block;
    padding-right: 6px;
  }

  .private {
    display: inline-block;
    padding-right: 6px;
  }

  .sources {
    display: inline-block;
    padding-right: 6px;
  }

  .forks {
    display: inline-block;
    padding-right: 6px;
  }

  .mirrors {
    display: inline-block;
  }
}

.repo-new-button{
  float: right;
  display: inline-block;

  .octicon-repo {
    padding-right: 3px;
  }

  .btn-primary {
    display: inline-block;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    background-color: #60b044;
    background-image: linear-gradient(#8add6d, #60b044);
    border-color: #5ca941;

    .btn {
      position: relative;
      display: inline-block;
      padding: 6px 12px;
      font-size: 13px;
    }
  }
}




/**************************************************************************
MAIN REPOSITORIES
**************************************************************************/

.result-images {
  margin-top: 20px;
  padding-bottom: 30px;
  width: 100%;
  border-bottom: 1px solid #eeeeee;

  .repoName {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }
}

.updated-time {
  // display: inline-block;
}

.repo-stats-container{
  float: right;
  position: relative;
  top: 10px;
  color: #888888;

  .octicon-star {
    padding-right: 5px;
  }

  .octicon-git-branch {
    padding-right: 5px;
  }

  .programming-language {
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    padding-right: 10px;
  }

  .star-gazer {
    display: inline-block;
    padding-right: 10px;
  }

  .getting-forked {
    display: inline-block;
  }
}



/**************************************************************************
FOOTER
**************************************************************************/



#footer {
  border-top: 1px solid #eeeeee;
  padding-top: 35px;
  margin-bottom: 35px;

  .copy-write {
    display: inline-block;
    font-size: 12px;
    color: #767676;
    margin-right: 15px;
  }

  .tos {
    display: inline-block;
    font-size: 12px;
    margin-right: 15px;
  }

  .privicy {
    display: inline-block;
    font-size: 12px;
    margin-right: 15px;
  }

  .security {
    display: inline-block;
    font-size: 12px;
    margin-right: 15px;
  }

  .contact {
    display: inline-block;
    font-size: 12px;
    margin-right: 15px;
  }

  .help {
    display: inline-block;
    font-size: 12px;
    margin-right: 99px;
  }

  .footer-logo {
    display: inline-block;
    font-size: 12px;
    color: #CCCCCC;
    margin-right: 135px;

  }

  .status {
    display: inline-block;
    font-size: 12px;
    margin-right: 15px;
  }

  .api-link {
    display: inline-block;
    font-size: 12px;
    margin-right: 15px;
  }

  .training {
    display: inline-block;
    font-size: 12px;
    margin-right: 15px;
  }

  .shop {
    display: inline-block;
    font-size: 12px;
    margin-right: 15px;
  }

  .blog {
    display: inline-block;
    font-size: 12px;
    margin-right: 15px;
  }

  .about {
    display: inline-block;
    font-size: 12px;
    margin-right: 15px;
  }

  .pricing {
    display: inline-block;
    font-size: 12px;
  }
}



/**************************************************************************
THE END!
**************************************************************************/
